CALL_DOMAIN=call.example.com:8443
TURN_DOMAIN=turn.example.com
LIVEKIT_API_KEY=replace_with_random_key
LIVEKIT_API_SECRET=replace_with_at_least_32_random_characters
LIVEKIT_NODE_IP=195.123.6.26
SUPABASE_URL=https://qewgunjxdpliyeazyjkn.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_oFE1KGP-BLnRJT_IaJ30Bg_eaFyPaf2
